<nav>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="logo-container">
    <button mat-button (click)="toggle.emit()" type="button">
      <mat-icon>{{ !isVisible ? 'arrow_forward_ios' : 'arrow_back_ios' }}</mat-icon>
    </button>
    <a href="/" class="logo">
      Gojira
    </a>
  </div>
  <div class="spacer">
    <div class="search-bar">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search...">
    </div>

    <button
      (click)="openModal()"
      class="action-button">
      <mat-icon>add</mat-icon>
      <span>Create</span>
    </button>
  </div>

  <div class="navbar-actions">

    <button mat-button type="button"
            matBadge="5"
            matBadgePosition="after"
            matBadgeSize="large"
            matTooltip="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-button type="button"
            matTooltip="Help">
      <mat-icon>help</mat-icon>
    </button>

    <button mat-button type="button"
            matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-button type="button"
            routerLink="/profile"
            matTooltip="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</nav>
<div [hidden]="!isVisible" class="sidebar">
  <ul>
    <li>
      <a
        routerLink="/home">
        <mat-icon>star</mat-icon>
        <span>For You</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/apps">
        <mat-icon>apps</mat-icon>
        <span>Apps</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/plans">
        <mat-icon>event_note</mat-icon>
        <span>Plans</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/projects">
        <mat-icon>folder</mat-icon>
        <span>Projects</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/filters">
        <mat-icon>filter_list</mat-icon>
        <span>Filters</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/dashboards">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboards</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/teams">
        <mat-icon>group</mat-icon>
        <span>Teams</span>
      </a>
    </li>

    <li>
      <a
        routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        <span>My Profile</span>
      </a>
    </li>
  </ul>
  <ng-template cdkPortal>
    <app-create/>
  </ng-template>
</div>
