<div class="container">
  <h1>For You</h1>
  <mat-divider></mat-divider>

  <h2>Recent Projects</h2>
  <div class="projects-container">
    <mat-card (click)="openCreateProjectModal()">
      <mat-card-header>
        <mat-card-title>Create</mat-card-title>
        <mat-card-subtitle>Create new project</mat-card-subtitle>
      </mat-card-header>
      <mat-divider class="card-divider"/>
      <mat-card-content class="create-project">
        <mat-icon>add</mat-icon>
        <br/>
        <br/>
        <p>
          <strong>Note:</strong> Get that bread.
        </p>
      </mat-card-content>
    </mat-card>
    @for (project of projects; track projects.indexOf(project)) {
      <mat-card routerLink="/projects/{{ project.id }}">
        <mat-card-header>
          <mat-card-title>{{ project.name }}</mat-card-title>
          <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider class="card-divider"/>
        <mat-card-content>
          <p>Last Updated: {{ project.dueDate | date:'shortDate' }}</p>
        </mat-card-content>
      </mat-card>
    }
  </div>
  <br/>
  <mat-divider></mat-divider>

  <mat-tab-group>
    @for (option of navbarOptions; track option.name) {
      <mat-tab label="{{option.name}}">
        @if (option.name === 'Worked on') {
          <ul>
            @for (item of workedOnList; track workedOnList.indexOf(item)) {
              <ng-container>
                  <mat-list>
                    <mat-list-item>
                      <mat-checkbox>{{ item }}</mat-checkbox>
                    </mat-list-item>
                  </mat-list>
              </ng-container>
            }
          </ul>
        }
        @if (option.name === 'Viewed') {
          <ul>
            @for (item of viewedList; track viewedList.indexOf(item)) {
              <ng-container>
                  <mat-list>
                    <mat-list-item>
                      <h3>{{ item }}</h3>
                    </mat-list-item>
                  </mat-list>
              </ng-container>
            }
          </ul>
        }
        @if (option.name === 'Assigned to me') {
          <ul>
            @for (item of assignedToMeList; track assignedToMeList.indexOf(item)) {
              <ng-container>
                  <mat-list>
                    <mat-list-item>
                      <h3>{{ item }}</h3>
                    </mat-list-item>
                  </mat-list>
              </ng-container>
            }
          </ul>
        }
        @if (option.name === 'Boards') {
          <div class="boards-container">
            <p>Boards content goes here</p>
          </div>
        }
      </mat-tab>
    }
  </mat-tab-group>
  <ng-template cdkPortal>
    <app-create-project/>
  </ng-template>
</div>

