<div class="form-container">
  <h1>Create a new issue</h1>
  <h2>Required fields are marked with an asterix *</h2>

  <form [formGroup]="createIssueForm" (ngSubmit)="createIssue();  $event.stopPropagation()">
    <mat-form-field>
      <mat-label>Project</mat-label>
      <mat-select formControlName="projectId" placeholder="Select a project" required>
        @for (project of projects; track projects.indexOf(project)) {
          <mat-option [value]="project.id">{{ project.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <mat-label>Issue type</mat-label>
      <mat-select formControlName="issueType" placeholder="Select an issue type" required>
        @for (issue of issueEnumKeys; track issueEnumKeys?.indexOf(issue)) {
          <mat-option [value]="issue">{{ issue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" matTooltip="Initial status">
        <mat-option [value]="StatusEnum.ToDo">To Do</mat-option>
        <mat-option [value]="StatusEnum.Done">Done</mat-option>
      </mat-select>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <mat-label>Summary</mat-label>
      <input type="text" matInput placeholder="Enter a summary" formControlName="summary" required>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea type="text" matInput placeholder="Write a description of the issue" formControlName="description" required></textarea>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <mat-label>Assignee</mat-label>
      <mat-select formControlName="assigneeId" placeholder="Assign to someone">
        @for (dev of users; track dev.email) {
          <mat-option [value]="dev.id">
            {{ dev | devFormatter }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <mat-label>Labels</mat-label>
      <mat-select formControlName="labels" placeholder="Select labels" multiple>
        @for (label of labels; track labels.indexOf(label)) {
          <mat-option [value]="label.name">
            <div style="display: flex" class="label-with-color">
              <div [style.background-color]="label.color" class="color-dot"></div>
              {{ label.name }}
            </div>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <mat-label>Parent</mat-label>
      <mat-select formControlName="parentNodeId" placeholder="Choose a parent">
        @for (parent of issues; track parent.id) {
          <mat-option [value]="parent.id">
            {{ parent.summary }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <mat-label>Story points</mat-label>
      <input type="number" matInput placeholder="Storypoints" formControlName="storyPoints">
    </mat-form-field>

    <div class="submit-button">
      <button mat-raised-button color="primary" type="submit">Create</button>
    </div>
  </form>
</div>
