<div class="flex flex-col space-y-4 p-8 w-full max-w-4xl mx-auto">

  <h1 class="text-2xl font-bold">Create</h1>
  <p class="text-sm text-gray-600">Required fields are marked with an asterix *</p>
  <mat-form-field class="w-full">
    <mat-label>
      Project
    </mat-label>
    <mat-select [(ngModel)]="selectedProject" [placeholder]="'Select a project'" required>
      @for (project of projects; track projects.indexOf(project)) {
        <mat-option [value]=project.name style="background: white">{{ project.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field class="w-full">
    <mat-label>
      Issue type
    </mat-label>
    <mat-select [(ngModel)]="selectedIssueType" [placeholder]="'Select an issue type'" required>
      @for (issue of issueEnumKeys; track issueEnumKeys?.indexOf(issue)) {
        <mat-option [value]=issue style="background: white">{{ issue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>
      Status
    </mat-label>
    <mat-select [(ngModel)]="selectedStatus" matTooltip="Initial status">
      <mat-option [value]="'TODO'" style="background: white">To Do</mat-option>
      <mat-option [value]="'Done'" style="background: white">Done</mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field class="w-full">
    <mat-label>
      Summary
    </mat-label>
    <input type="text" matInput placeholder="Enter a summary" [(ngModel)]="summary" required>
  </mat-form-field>
  <br/>
  <mat-form-field class="w-full">
    <mat-label>
      Description
    </mat-label>
    <textarea type="text" matInput placeholder="Write a description of the issue" [(ngModel)]="description"
              required></textarea>
  </mat-form-field>
  <br/>
  <mat-form-field class="w-full">
    <mat-label>
      Assignee
    </mat-label>
    <mat-select [(ngModel)]="selectedDev" [placeholder]="'Assign to someone'">
      @for (dev of devs; track dev.email) {
        <mat-option [value]=dev.email style="background: white">
            {{ dev | devFormatter }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field class="w-full">
    <mat-label>
      Labels
    </mat-label>
    <mat-select [(ngModel)]="selectedLabels" [placeholder]="'Select labels'" multiple>
      @for (label of labels; track labels.indexOf(label)) {
        <mat-option [value]=label.name style="background: white">
          <div style="display: flex">
            <div [style.background-color]="label.color" class="h-3 w-3 mx-1 mt-1.5 border-b-black clear-both"></div>
            {{ label.name }}
          </div>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field class="w-full">
    <mat-label>
      Parent
    </mat-label>
    <mat-select [(ngModel)]="selectedParent" [placeholder]="'Choose a parent'">
      @for (parent of issues; track parent.id) {
        <mat-option [value]=parent.id style="background: white">
          {{ parent.summary }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field class="w-full">
    <mat-label>
      Team
    </mat-label>
    <mat-select [(ngModel)]="selectedTeam" [placeholder]="'Choose a team'">
      @for (team of teams; track team.id) {
        <mat-option [value]=team.id style="background: white; padding-bottom: 10px" >
          <mat-label>
            {{ team.id }}
          </mat-label>
          @for (dev of team.devs; track dev) {
            <p>{{ dev.name }}</p>
          }
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>
      Storypoints
    </mat-label>
    <input type="number" matInput placeholder="Storypoints" [(ngModel)]="storyPoint">
  </mat-form-field>
  <div class="flex justify-end mr-20 space-x-8">
    <button mat-raised-button color="primary">Create</button>
    <button mat-raised-button color="warn">Cancel</button>
  </div>
</div>
